@import "~scss/config";

.page404 {
}

.page-image {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 0;
    height: 600px;
    .image {
        width: 100%;
    }
    .lines {
        position: absolute;
        width: 100%;
        height: 50px;
        top: -50px;
        left: 0;
        right: 0;
        background: url('/spa-img/common/page404lines.png') repeat-y;
        background-size: contain;

    }
    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 48px;
        fill: #2b6a9d;
    }
}