@import "~scss/config";

/*
 *  Пользовательское меню в хедере
 */
.header-menu {
    display: flex;
    background-color: $color-athensGray;
    padding: 2px 0 2px 10px;
    border-radius: 20px;
    .menu-item{
        @include header-menu-item-link();
        height: 40px;
        font-weight: normal;
        &:last-child {
            padding-right: 15px;
        }
    }
    @include media(sm){
        background-color: transparent;
    }
}

/*
 *  Пользовательское меню в футере
 */
.footer-menu {
    .menu-item {
        @include footer-menu-item-link();
    }
}