@import "~scss/config";

.breadcrumbs {
    background-color: $main-page-bg;
    &-inner{
        composes: section from global;
        padding-top: $main-padding;
        font-size: 15px;
        height: $breadcrumbs-height;
    }
}
