@import "~scss/config";

.page-maintenance {

}

.page-image {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 0;
    height: 600px;
    .image {
        width: 100%;
    }
    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 40px;
        fill: #2b6a9d;
    }
}